openapi: 3.1.0
info:
  title: Catalyst One — Chanakya AI GPT Action (OAuth-only V1)
  version: 1.0.0
  description: |
    GPT Action–compatible read-only schema for the Chanakya AI Custom GPT.

    **Authentication:** OAuth 2.0 authorization code + PKCE only.
    A valid Catalyst One integration bearer token (`aud=catalyst_one_chatgpt`,
    `typ=chatgpt_integration_access`) establishes both channel and user identity.

    **Do not** send `X-ChatGPT-Integration-Key` on these routes — use the dedicated
    `/api/integrations/chatgpt/v1/gpt-action/*` lane.

    OAuth authorize/token endpoints are configured in the GPT Action authentication
    settings — they are **not** listed as callable business actions below.

    GET-only. No mutation capabilities.

    **Action selection:**
    - `gptActionChanakya` = lightweight org Radar snapshot only.
    - `gptActionEnterpriseRead` = deep CHANAKYA enterprise evidence (Opportunity/Deal 360,
      attention, change, credit, documents, product/lender, commercial). Prefer this for
      transaction questions.
servers:
  - url: https://catalyst-one.rupeecatalyst.com
    description: Production (Hostinger)
tags:
  - name: Chanakya AI GPT Action
    description: Read-only operational intelligence for Custom GPT Actions
security:
  - ChatGptIntegrationOAuth: []
paths:
  /api/integrations/chatgpt/v1/gpt-action/health:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Platform health snapshot
      operationId: gptActionHealth
      responses:
        "200":
          description: Health DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessHealth"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NotConfigured"
  /api/integrations/chatgpt/v1/gpt-action/mission-control:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Mission Control operational snapshot
      operationId: gptActionMissionControl
      responses:
        "200":
          description: Mission Control DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessMissionControl"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/chanakya:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Org-wide CHANAKYA Radar snapshot (lightweight)
      description: |
        Lightweight organisation Radar intelligence only (health score, direction,
        quadrant counts, top signals).

        Use this for high-level org radar questions.

        Do NOT use this for Opportunity/Deal depth, stuck-case analysis, financials,
        documents, lender fit, change intelligence, or commercial status.

        For those questions call `gptActionEnterpriseRead` instead.
      operationId: gptActionChanakya
      responses:
        "200":
          description: CHANAKYA Radar DTO (not Opportunity/Deal 360)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessChanakya"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/pipeline:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Aggregated loan pipeline summary
      operationId: gptActionPipeline
      responses:
        "200":
          description: Pipeline DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessPipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/tasks:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Task attention summary
      operationId: gptActionTasks
      responses:
        "200":
          description: Tasks DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessTasks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/email-status:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Inbound email processing health
      operationId: gptActionEmailStatus
      responses:
        "200":
          description: Email status DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEmailStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/activity:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Today's aggregated activity highlights
      operationId: gptActionActivity
      responses:
        "200":
          description: Activity DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessActivity"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/build:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Deployment / build information
      operationId: gptActionBuild
      responses:
        "200":
          description: Build DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessBuild"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/enterprise-read:
    get:
      tags: [Chanakya AI GPT Action]
      summary: CHANAKYA enterprise read context (deep evidence)
      description: |
        PRIMARY deep CHANAKYA evidence action. Read-only targeted compile of the same
        Phase-1 enterprise intelligence used inside Catalyst One.

        Call this action (not gptActionChanakya) for questions such as:
        - What should I focus on today? / Which cases require intervention?
        - Why is this opportunity/deal stuck?
        - What changed since yesterday?
        - Analyse this transaction / Analyse the financials
        - What documents are available / readable / missing?
        - Which lenders are relevant?
        - What is happening with this deal?
        - What is the commercial/accounting status?

        Modes:
        - enterprise — portfolio attention / commercial / execution (org desk)
        - summary — executive + transactions attention
        - opportunity — Opportunity 360 (requires opportunityId or opportunityRef)
        - transaction — Deal/Opportunity execution depth (prefer dealId/dealRef)
        - domain — selected domains only

        When opportunityId/dealId are supplied with mode=enterprise, the server
        coerces to opportunity/transaction so Opportunity/Deal 360, creditIntelligence,
        productLenderIntelligence, and document evidence still compile.

        Domains (comma-separated): executive,transactions,credit,documents,commercial,
        relationships,execution

        changePeriod: today | since_yesterday | last_7_days

        includeDocumentExcerpts=1 returns truncated structured excerpts only — never
        document binaries, unrestricted OCR payloads, mobile numbers, or emails.

        FOIR / DSCR / LTV / DBR are Phase 2 and are never computed here.
        Never invent APPROVED / SANCTIONED / GUARANTEED / ELIGIBLE without persisted SSOT.
        Missing evidence returns honest NOT_AVAILABLE / OCR_REQUIRED / INSUFFICIENT_EVIDENCE.
      operationId: gptActionEnterpriseRead
      parameters:
        - name: mode
          in: query
          description: Compile mode. Prefer opportunity/transaction when entity refs are known.
          schema:
            type: string
            enum: [summary, opportunity, domain, enterprise, transaction]
            default: enterprise
        - name: opportunityId
          in: query
          description: Opportunity id or number (e.g. OPP-2026-000060)
          schema:
            type: string
        - name: opportunityRef
          in: query
          description: Alias for opportunityId
          schema:
            type: string
        - name: dealId
          in: query
          description: Deal id or number (e.g. DEAL-2026-000082)
          schema:
            type: string
        - name: dealRef
          in: query
          description: Alias for dealId
          schema:
            type: string
        - name: domains
          in: query
          description: Comma-separated domains (executive,transactions,credit,documents,commercial,relationships,execution)
          schema:
            type: string
        - name: changePeriod
          in: query
          description: Change intelligence window
          schema:
            type: string
            enum: [today, since_yesterday, last_7_days]
        - name: limit
          in: query
          schema:
            type: integer
        - name: includeDocumentExcerpts
          in: query
          description: "1 = include truncated structured document excerpts (never binaries)"
          schema:
            type: string
            enum: ["1"]
        - name: q
          in: query
          description: Optional natural-language hint for audit/routing (does not invent facts)
          schema:
            type: string
      responses:
        "200":
          description: |
            Privacy-safe enterprise read context. Typical top-level fields include
            opportunity360, deal360, transactionAttention, changeIntelligence,
            productLenderIntelligence, creditIntelligence, enterpriseSummary,
            domains, limitations, privacy, resolvedMode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEnterpriseRead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    ChatGptIntegrationOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/authorize
          tokenUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/token
          scopes:
            chatgpt:read: Read-only operational intelligence (requires AI_ACCESS + AI_TEXT + AI_CATALYST_INTELLIGENCE)
            chatgpt:chanakya: CHANAKYA Radar + enterprise-read deep evidence (requires AI_CHANAKYA)
      description: |
        OAuth 2.0 authorization code + PKCE (S256).
        Issues a short-lived integration JWT (`aud=catalyst_one_chatgpt`).
        Employee session JWTs are not accepted on GPT Action routes.
  responses:
    Unauthorized:
      description: Missing or invalid integration bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: AI capability, OAuth scope, or organization mismatch
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    NotConfigured:
      description: ChatGPT OAuth not configured on deployment
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message, statusCode]
          properties:
            code:
              type: string
            message:
              type: string
            statusCode:
              type: integer
            correlationId:
              type: string
    IntegrationMeta:
      type: object
      required: [requestId, generatedAt, organizationId, organizationSlug, integrationVersion]
      properties:
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        organizationId:
          type: string
        organizationSlug:
          type: string
        integrationVersion:
          type: string
          enum: [v1]
    ApiSuccessHealth:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              properties:
                overallHealth:
                  type: string
                summary:
                  type: string
    ApiSuccessMissionControl:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessChanakya:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEnterpriseRead:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              description: |
                Compiled CHANAKYA enterprise read context. Typical fields:
                mode, resolvedMode, opportunity360, deal360, transactionAttention,
                changeIntelligence, productLenderIntelligence, creditIntelligence,
                enterpriseSummary, domains, limitations, privacy, readOnly.
              properties:
                mode:
                  type: string
                resolvedMode:
                  type: string
                opportunity360:
                  type: object
                  nullable: true
                deal360:
                  type: object
                  nullable: true
                transactionAttention:
                  type: object
                  nullable: true
                changeIntelligence:
                  type: object
                  nullable: true
                productLenderIntelligence:
                  type: object
                  nullable: true
                creditIntelligence:
                  type: object
                  nullable: true
                enterpriseSummary:
                  type: object
                  nullable: true
                limitations:
                  type: array
                  items:
                    type: string
                readOnly:
                  type: boolean
                  enum: [true]
    ApiSuccessPipeline:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessTasks:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEmailStatus:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessActivity:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessBuild:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
