openapi: 3.1.0
info:
  title: Catalyst One — Chanakya AI GPT Action (OAuth-only V1)
  version: 1.1.0
  description: |
    GPT Action–compatible read-only schema for the Chanakya AI Custom GPT.

    **Authentication:** OAuth 2.0 authorization code + PKCE only.
    A valid Catalyst One integration bearer token (`aud=catalyst_one_chatgpt`,
    `typ=chatgpt_integration_access`) establishes both channel and user identity.

    **Do not** send `X-ChatGPT-Integration-Key` on these routes — use the dedicated
    `/api/integrations/chatgpt/v1/gpt-action/*` lane.

    OAuth authorize/token endpoints are configured in the GPT Action authentication
    settings — they are **not** listed as callable business actions below.

    GET-only. No mutation capabilities.

    ## Action routing model (CO-CHANAKYA-GPT-CONNECTION-CLOSURE-042)

    | User question type | Call | Never call |
    |-------------------|------|------------|
    | Deal (`DEAL-…`, dealId, dealRef, "this deal") | **gptActionEnterpriseRead** with `dealRef` | gptActionChanakya |
    | Opportunity (`OPP-…`, opportunityId, "this opportunity") | **gptActionEnterpriseRead** with `opportunityRef` | gptActionChanakya |
    | Why stuck / what changed / documents / financials / lenders / accounting / 360 | **gptActionEnterpriseRead** | gptActionChanakya |
    | Org-wide Radar snapshot / high-level desk health only | **gptActionChanakya** | — (no entity depth) |

    **Follow-up rule:** When the user continues about the same case without repeating
    the Deal/Opportunity number ("Why is it stuck?", "What should I do today?"),
    reuse `dealRef` or `opportunityRef` from the prior turn (or from `data.requestedEntityRefs`
    / `data.deal360` / `data.opportunity360` in the last enterprise-read response).

    FOIR / DSCR / LTV / DBR are Phase 2 — never computed. No document binaries,
    unrestricted OCR dumps, mobile numbers, or emails.
servers:
  - url: https://catalyst-one.rupeecatalyst.com
    description: Production (Hostinger)
tags:
  - name: Chanakya AI GPT Action
    description: Read-only operational intelligence for Custom GPT Actions
security:
  - ChatGptIntegrationOAuth: []
paths:
  /api/integrations/chatgpt/v1/gpt-action/health:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Platform health snapshot
      operationId: gptActionHealth
      responses:
        "200":
          description: Health DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessHealth"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NotConfigured"
  /api/integrations/chatgpt/v1/gpt-action/mission-control:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Mission Control operational snapshot
      operationId: gptActionMissionControl
      responses:
        "200":
          description: Mission Control DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessMissionControl"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/chanakya:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Org-wide CHANAKYA Radar snapshot (lightweight only)
      description: |
        **Lightweight organisation Radar intelligence only** — health score, direction,
        quadrant counts, top org-wide signals. No Opportunity/Deal depth.

        **USE ONLY FOR:** high-level Radar snapshot · general org attention summary ·
        "how is the desk doing?" without naming a Deal or Opportunity.

        **NEVER USE FOR** (call `gptActionEnterpriseRead` instead):
        - Any `DEAL-…` / `dealId` / `dealRef` / "this deal" question
        - Any `OPP-…` / `opportunityId` / `opportunityRef` / "this opportunity" question
        - Why stuck · what changed · documents pending · financial analysis
        - Lender assignment · accounting/commercial status · post-disbursement
        - Complete 360 · transaction attention · recommended next human action
        - Follow-up questions after a Deal/Opportunity was already discussed

        This action does **not** accept entity references and cannot return Deal 360 or
        Opportunity 360. There is no separate per-deal action — entity depth is always
        `gptActionEnterpriseRead`.
      operationId: gptActionChanakya
      responses:
        "200":
          description: CHANAKYA Radar DTO (not Opportunity/Deal 360)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessChanakya"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/pipeline:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Aggregated loan pipeline summary
      operationId: gptActionPipeline
      responses:
        "200":
          description: Pipeline DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessPipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/tasks:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Task attention summary
      operationId: gptActionTasks
      responses:
        "200":
          description: Tasks DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessTasks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/email-status:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Inbound email processing health
      operationId: gptActionEmailStatus
      responses:
        "200":
          description: Email status DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEmailStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/activity:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Today's aggregated activity highlights
      operationId: gptActionActivity
      responses:
        "200":
          description: Activity DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessActivity"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/build:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Deployment / build information
      operationId: gptActionBuild
      responses:
        "200":
          description: Build DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessBuild"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/enterprise-read:
    get:
      tags: [Chanakya AI GPT Action]
      summary: CHANAKYA enterprise read context (PRIMARY deep evidence)
      description: |
        **PRIMARY deep CHANAKYA evidence action** — read-only compile of the same Phase-1
        enterprise intelligence used inside Catalyst One. **Always prefer this action** over
        `gptActionChanakya` when the user names or implies a Deal, Opportunity, or transaction.

        ## Deal-wise access (`DEAL-…`, dealId, dealRef, "this deal")

        Pass `dealRef` (or `dealId`) — e.g. `DEAL-2026-000082`. Server coerces `mode=enterprise`
        to `transaction` and returns **Deal 360** where authorized, including when available:
        parent Opportunity context · borrower/company · product · lender · lender stage ·
        stage age · latest activity · tasks · documents · document readiness · transaction
        attention · recent changes · commercial/accounting context · post-disbursement state ·
        product/lender intelligence · credit/document intelligence · recommended next human action.

        Example calls:
        - `dealRef=DEAL-2026-000082` — "Tell me about DEAL-2026-000082."
        - Same `dealRef` — follow-up "Why is this deal stuck?" / "What changed?" / "What documents are pending?"
        - Same `dealRef` + `changePeriod=since_yesterday` — "What changed in this deal?"
        - Same `dealRef` + `domains=commercial,execution` — accounting/commercial status

        ## Opportunity-wise access (`OPP-…`, opportunityId, opportunityRef)

        Pass `opportunityRef` (or `opportunityId`) — e.g. `OPP-2026-000060`. Returns **Opportunity 360**
        and authorised intelligence (credit, documents, product/lender, commercial, attention, change).

        Example: `opportunityRef=OPP-2026-000060` — "Give me a complete 360 analysis of OPP-2026-000060."

        ## Follow-up context (multi-turn)

        ChatGPT must **retain** the active `dealRef` or `opportunityRef` across follow-up turns.
        Re-read `data.requestedEntityRefs`, `data.deal360.dealNumber`, or
        `data.opportunity360.opportunityNumber` from the prior response when the user does not
        repeat the reference ("Why is it stuck?", "What should I do next?", "What should I do today?").

        ## Also use for (no entity ref — org desk)

        - What should I focus on today? / Which cases require intervention?
        - Show transactions delayed beyond SLA (org attention via `mode=enterprise` or `summary`)

        ## Modes

        - `enterprise` — portfolio attention / commercial / execution (default; coerces when entity refs present)
        - `summary` — executive + transactions attention
        - `opportunity` — Opportunity 360 (requires opportunityRef)
        - `transaction` — Deal execution depth (prefer dealRef)
        - `domain` — selected domains only

        **Domains** (comma-separated): executive,transactions,credit,documents,commercial,
        relationships,execution

        **changePeriod:** today | since_yesterday | last_7_days

        `includeDocumentExcerpts=1` — truncated structured excerpts only. Never document binaries,
        unrestricted OCR payloads, mobile numbers, or emails.

        **FOIR / DSCR / LTV / DBR = Phase 2** — never computed. Never invent APPROVED / SANCTIONED /
        GUARANTEED / ELIGIBLE without persisted SSOT. Missing evidence → NOT_AVAILABLE /
        OCR_REQUIRED / INSUFFICIENT_EVIDENCE.
      operationId: gptActionEnterpriseRead
      parameters:
        - name: mode
          in: query
          description: |
            Compile mode. When `dealRef` or `opportunityRef` is known, pass it with any mode;
            server coerces `enterprise` → `transaction` (deal) or `opportunity` (opp only).
          schema:
            type: string
            enum: [summary, opportunity, domain, enterprise, transaction]
            default: enterprise
        - name: opportunityId
          in: query
          description: |
            Opportunity id or business number (e.g. `OPP-2026-000060`). Required for Opportunity-scoped
            360 when mode=opportunity. Alias of opportunityRef.
          schema:
            type: string
        - name: opportunityRef
          in: query
          description: |
            Opportunity reference for Opportunity 360 — use when user says OPP-…, "this opportunity",
            or follow-up after an Opportunity question. Reuse across multi-turn follow-ups.
          schema:
            type: string
            example: OPP-2026-000060
        - name: dealId
          in: query
          description: |
            Deal id or business number (e.g. `DEAL-2026-000082`). Alias of dealRef.
          schema:
            type: string
        - name: dealRef
          in: query
          description: |
            Deal reference for Deal 360 — use when user says DEAL-…, dealId, "this deal", or
            follow-up after a Deal question ("Why is it stuck?", "What should I do next?").
            Reuse the same dealRef across multi-turn follow-ups without re-asking the user.
          schema:
            type: string
            example: DEAL-2026-000082
        - name: domains
          in: query
          description: Comma-separated domains (executive,transactions,credit,documents,commercial,relationships,execution)
          schema:
            type: string
        - name: changePeriod
          in: query
          description: Change intelligence window
          schema:
            type: string
            enum: [today, since_yesterday, last_7_days]
        - name: limit
          in: query
          schema:
            type: integer
        - name: includeDocumentExcerpts
          in: query
          description: "1 = include truncated structured document excerpts (never binaries)"
          schema:
            type: string
            enum: ["1"]
        - name: q
          in: query
          description: |
            Optional natural-language hint for audit/routing (e.g. "why stuck", "documents pending").
            Does not invent facts — entity scope still requires dealRef/opportunityRef when known.
          schema:
            type: string
      responses:
        "200":
          description: |
            Privacy-safe enterprise read context. Typical top-level fields include
            opportunity360, deal360, transactionAttention, changeIntelligence,
            productLenderIntelligence, creditIntelligence, enterpriseSummary,
            domains, limitations, privacy, resolvedMode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEnterpriseRead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    ChatGptIntegrationOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/authorize
          tokenUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/token
          scopes:
            chatgpt:read: Read-only operational intelligence (requires AI_ACCESS + AI_TEXT + AI_CATALYST_INTELLIGENCE)
            chatgpt:chanakya: CHANAKYA Radar + enterprise-read deep evidence (requires AI_CHANAKYA)
      description: |
        OAuth 2.0 authorization code + PKCE (S256).
        Issues a short-lived integration JWT (`aud=catalyst_one_chatgpt`).
        Employee session JWTs are not accepted on GPT Action routes.
  responses:
    Unauthorized:
      description: Missing or invalid integration bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: AI capability, OAuth scope, or organization mismatch
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    NotConfigured:
      description: ChatGPT OAuth not configured on deployment
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message, statusCode]
          properties:
            code:
              type: string
            message:
              type: string
            statusCode:
              type: integer
            correlationId:
              type: string
    IntegrationMeta:
      type: object
      required: [requestId, generatedAt, organizationId, organizationSlug, integrationVersion]
      properties:
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        organizationId:
          type: string
        organizationSlug:
          type: string
        integrationVersion:
          type: string
          enum: [v1]
    ApiSuccessHealth:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              properties:
                overallHealth:
                  type: string
                summary:
                  type: string
    ApiSuccessMissionControl:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessChanakya:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEnterpriseRead:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              description: |
                Compiled CHANAKYA enterprise read context. Typical fields:
                mode, resolvedMode, requestedEntityRefs, opportunity360, deal360,
                transactionAttention, changeIntelligence, productLenderIntelligence,
                creditIntelligence, enterpriseSummary, domains, limitations, privacy, readOnly.
              properties:
                mode:
                  type: string
                resolvedMode:
                  type: string
                  description: Effective mode after entity-aware coercion (e.g. enterprise→transaction when dealRef set).
                requestedEntityRefs:
                  type: object
                  description: Echo of dealRef/opportunityRef from this request — reuse for follow-up turns.
                  properties:
                    dealRef:
                      type: string
                      nullable: true
                    opportunityRef:
                      type: string
                      nullable: true
                opportunity360:
                  type: object
                  nullable: true
                deal360:
                  type: object
                  nullable: true
                transactionAttention:
                  type: object
                  nullable: true
                changeIntelligence:
                  type: object
                  nullable: true
                productLenderIntelligence:
                  type: object
                  nullable: true
                creditIntelligence:
                  type: object
                  nullable: true
                enterpriseSummary:
                  type: object
                  nullable: true
                limitations:
                  type: array
                  items:
                    type: string
                readOnly:
                  type: boolean
                  enum: [true]
    ApiSuccessPipeline:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessTasks:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEmailStatus:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessActivity:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessBuild:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
