openapi: 3.1.0
info:
  title: Catalyst One — Chanakya AI GPT Action (OAuth-only V1)
  version: 1.1.0
  description: |
    GPT Action–compatible read-only schema for the Chanakya AI Custom GPT.

    **Authentication:** OAuth 2.0 authorization code + PKCE only.
    A valid Catalyst One integration bearer token (`aud=catalyst_one_chatgpt`,
    `typ=chatgpt_integration_access`) establishes both channel and user identity.

    **Do not** send `X-ChatGPT-Integration-Key` on these routes — use the dedicated
    `/api/integrations/chatgpt/v1/gpt-action/*` lane.

    OAuth authorize/token endpoints are configured in the GPT Action authentication
    settings — they are **not** listed as callable business actions below.

    GET-only. No mutation capabilities.

    ## Action routing model (CO-CHANAKYA-GPT-CONNECTION-CLOSURE-042 · CO-CHANAKYA-GPT-PORTFOLIO-ROUTING-049 · CO-CHANAKYA-GPT-PORTFOLIO-ROUTING-CORRECTION-052)

    | User question type | Call | Never call |
    |-------------------|------|------------|
    | Record-level portfolio (customer/company names, Deal lists, stages, lenders, products, amounts, WP/source, active/inactive) | **gptActionEnterpriseRead** `view=portfolio_list` (no dealRef) | gptActionPipeline, gptActionChanakya |
    | Deal (`DEAL-…`, dealId, dealRef, "this deal") | **gptActionEnterpriseRead** with `dealRef` | gptActionChanakya, gptActionPipeline |
    | Opportunity (`OPP-…`, opportunityId, "this opportunity") | **gptActionEnterpriseRead** with `opportunityRef` | gptActionChanakya, gptActionPipeline |
    | Why stuck / what changed / documents / tasks / activity / financials / lenders / accounting / 360 | **gptActionEnterpriseRead** | gptActionChanakya, gptActionPipeline |
    | Aggregate pipeline snapshot only (no customer/Deal names) | **gptActionPipeline** | gptActionEnterpriseRead |
    | Org-wide CHANAKYA Radar snapshot / desk health only (no record-level lists) | **gptActionChanakya** | gptActionEnterpriseRead, gptActionPipeline |

    **Activity semantics (CO-052):** "customers currently lying in Deals" = **all** Deal Registry rows
    (`portfolio.activityFilter=all`). Only explicit "active deals" or "inactive deals" narrows the list.
    The word **currently** does **not** mean active-only.

    **Portfolio conflict rule:** If Pipeline or Radar shows zero Deals but
    `data.portfolio.summary.totalDeals` > 0 from **gptActionEnterpriseRead**, trust
    `data.portfolio.deals` — never tell the user there are zero Deals based on stale Radar/EBI/Pipeline alone.

    **Follow-up rule:** When the user continues about the same case without repeating
    the Deal/Opportunity number ("Why is it stuck?", "What should I do today?"),
    reuse `dealRef` or `opportunityRef` from the prior turn (or from `data.requestedEntityRefs`
    / `data.deal360` / `data.opportunity360` in the last enterprise-read response).

    **Deal-wise access:** `dealRef` / `dealId` for DEAL-…, lender stage, post-disbursement, Deal 360.
    **Opportunity-wise access:** `opportunityRef` / `opportunityId` for OPP-… and Opportunity 360.

    FOIR / DSCR / LTV / DBR are Phase 2 — never computed. No document binaries,
    unrestricted OCR dumps, mobile numbers, or emails.
servers:
  - url: https://catalyst-one.rupeecatalyst.com
    description: Production (Hostinger)
tags:
  - name: Chanakya AI GPT Action
    description: Read-only operational intelligence for Custom GPT Actions
security:
  - ChatGptIntegrationOAuth: []
paths:
  /api/integrations/chatgpt/v1/gpt-action/health:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Platform health snapshot
      operationId: gptActionHealth
      responses:
        "200":
          description: Health DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessHealth"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NotConfigured"
  /api/integrations/chatgpt/v1/gpt-action/mission-control:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Mission Control operational snapshot
      operationId: gptActionMissionControl
      responses:
        "200":
          description: Mission Control DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessMissionControl"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/chanakya:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Org-wide CHANAKYA Radar snapshot (lightweight only)
      description: >-
        Org-wide CHANAKYA Radar only (health, quadrants, top signals). NEVER USE FOR customer/Deal lists,
        WHO/WHICH customer/deal/lender/stage, or record-level portfolio — use gptActionEnterpriseRead.
        OK for Radar/desk health only, not named Deals.
      operationId: gptActionChanakya
      responses:
        "200":
          description: CHANAKYA Radar DTO (not Opportunity/Deal 360)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessChanakya"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/pipeline:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Aggregated pipeline summary (NOT customer/Deal lists)
      description: >-
        Aggregate pipeline snapshot only. NEVER USE FOR customer names, Deal lists, stages, lenders,
        products, amounts, WP/source, or WHO/WHICH record questions — use gptActionEnterpriseRead.
      operationId: gptActionPipeline
      responses:
        "200":
          description: Pipeline DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessPipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/tasks:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Task attention summary
      operationId: gptActionTasks
      responses:
        "200":
          description: Tasks DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessTasks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/email-status:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Inbound email processing health
      operationId: gptActionEmailStatus
      responses:
        "200":
          description: Email status DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEmailStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/activity:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Today's aggregated activity highlights
      operationId: gptActionActivity
      responses:
        "200":
          description: Activity DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessActivity"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/build:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Deployment / build information
      operationId: gptActionBuild
      responses:
        "200":
          description: Build DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessBuild"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/enterprise-read:
    get:
      tags: [Chanakya AI GPT Action]
      summary: CHANAKYA enterprise read (PRIMARY portfolio + Deal/Opp 360)
      description: >-
        PRIMARY Deal Registry portfolio. Pass view=portfolio_list; read data.portfolio.deals+summary.
        Currently lying in Deals=ALL rows NOT active-only. Never gptActionPipeline for customer/Deal lists.
        Pipeline/Radar zero but portfolio.totalDeals>0→trust enterprise-read. dealRef for 360. Phase 2 deferred.
      operationId: gptActionEnterpriseRead
      parameters:
        - name: mode
          in: query
          description: |
            Compile mode. When `dealRef` or `opportunityRef` is known, pass it with any mode;
            server coerces `enterprise` → `transaction` (deal) or `opportunity` (opp only).
          schema:
            type: string
            enum: [summary, opportunity, domain, enterprise, transaction]
            default: enterprise
        - name: opportunityId
          in: query
          description: |
            Opportunity id or business number (e.g. `OPP-2026-000060`). Required for Opportunity-scoped
            360 when mode=opportunity. Alias of opportunityRef.
          schema:
            type: string
        - name: opportunityRef
          in: query
          description: |
            Opportunity reference for Opportunity 360 — use when user says OPP-…, "this opportunity",
            or follow-up after an Opportunity question. Reuse across multi-turn follow-ups.
          schema:
            type: string
            example: OPP-2026-000060
        - name: dealId
          in: query
          description: |
            Deal id or business number (e.g. `DEAL-2026-000082`). Alias of dealRef.
          schema:
            type: string
        - name: dealRef
          in: query
          description: |
            Deal reference for Deal 360 — use when user says DEAL-…, dealId, "this deal", or
            follow-up after a Deal question ("Why is it stuck?", "What should I do next?").
            Reuse the same dealRef across multi-turn follow-ups without re-asking the user.
          schema:
            type: string
            example: DEAL-2026-000082
        - name: domains
          in: query
          description: Comma-separated domains (executive,transactions,credit,documents,commercial,relationships,execution)
          schema:
            type: string
        - name: changePeriod
          in: query
          description: Change intelligence window
          schema:
            type: string
            enum: [today, since_yesterday, last_7_days]
        - name: limit
          in: query
          description: Portfolio list page size (default 25, max 100).
          schema:
            type: integer
        - name: cursor
          in: query
          description: Portfolio page cursor (1-based page number string) when portfolioHydration.pagination.hasMore is true.
          schema:
            type: string
        - name: portfolioPage
          in: query
          description: Alias of cursor for portfolio pagination.
          schema:
            type: integer
        - name: includeDocumentExcerpts
          in: query
          description: "1 = include truncated structured document excerpts (never binaries)"
          schema:
            type: string
            enum: ["1"]
        - name: q
          in: query
          description: |
            Natural-language hint for routing/audit. Pass the user question verbatim when possible.
            CO-052: "currently lying in Deals" means ALL deals (activityFilter=all) — not active-only.
            Use explicit wording "active deals" or "inactive deals" only when the user asks for that subset.
          schema:
            type: string
        - name: view
          in: query
          description: |
            Optional compact response view (CO-050). portfolio_list, deal_summary, opportunity_summary,
            documents, financials, commercial, changes, lenders, activity, dialogue, attention.
            When omitted, inferred from q + dealRef/opportunityRef. GPT Action returns compact DTO only.
          schema:
            type: string
            enum:
              - portfolio_list
              - deal_summary
              - opportunity_summary
              - documents
              - activity
              - dialogue
              - financials
              - lenders
              - commercial
              - attention
              - changes
      responses:
        "200":
          description: |
            Privacy-safe enterprise read context. Typical top-level fields include
            opportunity360, deal360, transactionAttention, changeIntelligence,
            productLenderIntelligence, creditIntelligence, enterpriseSummary,
            domains, limitations, privacy, resolvedMode.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEnterpriseRead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    ChatGptIntegrationOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/authorize
          tokenUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/token
          scopes:
            chatgpt:read: Read-only operational intelligence (requires AI_ACCESS + AI_TEXT + AI_CATALYST_INTELLIGENCE)
            chatgpt:chanakya: CHANAKYA Radar + enterprise-read deep evidence (requires AI_CHANAKYA)
      description: |
        OAuth 2.0 authorization code + PKCE (S256).
        Issues a short-lived integration JWT (`aud=catalyst_one_chatgpt`).
        Employee session JWTs are not accepted on GPT Action routes.
  responses:
    Unauthorized:
      description: Missing or invalid integration bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: AI capability, OAuth scope, or organization mismatch
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    NotConfigured:
      description: ChatGPT OAuth not configured on deployment
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message, statusCode]
          properties:
            code:
              type: string
            message:
              type: string
            statusCode:
              type: integer
            correlationId:
              type: string
    IntegrationMeta:
      type: object
      required: [requestId, generatedAt, organizationId, organizationSlug, integrationVersion]
      properties:
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        organizationId:
          type: string
        organizationSlug:
          type: string
        integrationVersion:
          type: string
          enum: [v1]
    ApiSuccessHealth:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              properties:
                overallHealth:
                  type: string
                summary:
                  type: string
    ApiSuccessMissionControl:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessChanakya:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEnterpriseRead:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              description: |
                Compiled CHANAKYA enterprise read context. Typical fields:
                mode, resolvedMode, requestedEntityRefs, responseProfile, compactView, portfolio,
                portfolioRouting, dealSummary, opportunitySummary, slice, limitations, privacy, readOnly.
              properties:
                responseProfile:
                  type: string
                  description: gpt_action_compact on GPT Action lane (CO-050).
                compactView:
                  type: string
                  description: Query-shaped compact view (portfolio_list, deal_summary, documents, etc.).
                portfolio:
                  type: object
                  nullable: true
                  description: >-
                    PRIMARY compact portfolio DTO (CO-050/052). Read data.portfolio.deals for Deal Registry rows
                    and data.portfolio.summary for totals. activityFilter=all unless user explicitly asked active/inactive.
                portfolioRouting:
                  type: object
                  nullable: true
                  description: CO-052 routing hints — authoritative source, activity semantics, false-zero protection.
                dealSummary:
                  type: object
                  nullable: true
                opportunitySummary:
                  type: object
                  nullable: true
                slice:
                  type: object
                  nullable: true
                mode:
                  type: string
                resolvedMode:
                  type: string
                  description: Effective mode after entity-aware coercion (e.g. enterprise→transaction when dealRef set).
                requestedEntityRefs:
                  type: object
                  description: Echo of dealRef/opportunityRef from this request — reuse for follow-up turns.
                  properties:
                    dealRef:
                      type: string
                      nullable: true
                    opportunityRef:
                      type: string
                      nullable: true
                opportunity360:
                  type: object
                  nullable: true
                deal360:
                  type: object
                  nullable: true
                transactionAttention:
                  type: object
                  nullable: true
                  description: >-
                    Portfolio lists and portfolioBusinessRegistry (allDeals, activeDeals, inactiveDeals,
                    byWealthPartner) plus portfolioHydration honesty metadata. PRIMARY source for record-level
                    customer/Deal portfolio questions when no dealRef is supplied.
                changeIntelligence:
                  type: object
                  nullable: true
                productLenderIntelligence:
                  type: object
                  nullable: true
                creditIntelligence:
                  type: object
                  nullable: true
                enterpriseSummary:
                  type: object
                  nullable: true
                limitations:
                  type: array
                  items:
                    type: string
                readOnly:
                  type: boolean
                  enum: [true]
    ApiSuccessPipeline:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessTasks:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEmailStatus:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessActivity:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessBuild:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
