openapi: 3.1.0
info:
  title: Catalyst One — Chanakya AI GPT Action (OAuth-only V1)
  version: 1.0.0
  description: |
    GPT Action–compatible read-only schema for the Chanakya AI Custom GPT.

    **Authentication:** OAuth 2.0 authorization code + PKCE only.
    A valid Catalyst One integration bearer token (`aud=catalyst_one_chatgpt`,
    `typ=chatgpt_integration_access`) establishes both channel and user identity.

    **Do not** send `X-ChatGPT-Integration-Key` on these routes — use the dedicated
    `/api/integrations/chatgpt/v1/gpt-action/*` lane.

    OAuth authorize/token endpoints are configured in the GPT Action authentication
    settings — they are **not** listed as callable business actions below.

    GET-only. No mutation capabilities.
servers:
  - url: https://catalyst-one.rupeecatalyst.com
    description: Production (Hostinger)
tags:
  - name: Chanakya AI GPT Action
    description: Read-only operational intelligence for Custom GPT Actions
security:
  - ChatGptIntegrationOAuth: []
paths:
  /api/integrations/chatgpt/v1/gpt-action/health:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Platform health snapshot
      operationId: gptActionHealth
      responses:
        "200":
          description: Health DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessHealth"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/NotConfigured"
  /api/integrations/chatgpt/v1/gpt-action/mission-control:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Mission Control operational snapshot
      operationId: gptActionMissionControl
      responses:
        "200":
          description: Mission Control DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessMissionControl"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/chanakya:
    get:
      tags: [Chanakya AI GPT Action]
      summary: CHANAKYA / Radar intelligence snapshot
      operationId: gptActionChanakya
      responses:
        "200":
          description: CHANAKYA DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessChanakya"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/pipeline:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Aggregated loan pipeline summary
      operationId: gptActionPipeline
      responses:
        "200":
          description: Pipeline DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessPipeline"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/tasks:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Task attention summary
      operationId: gptActionTasks
      responses:
        "200":
          description: Tasks DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessTasks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/email-status:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Inbound email processing health
      operationId: gptActionEmailStatus
      responses:
        "200":
          description: Email status DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessEmailStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/activity:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Today's aggregated activity highlights
      operationId: gptActionActivity
      responses:
        "200":
          description: Activity DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessActivity"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/integrations/chatgpt/v1/gpt-action/build:
    get:
      tags: [Chanakya AI GPT Action]
      summary: Deployment / build information
      operationId: gptActionBuild
      responses:
        "200":
          description: Build DTO
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccessBuild"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    ChatGptIntegrationOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/authorize
          tokenUrl: https://catalyst-one.rupeecatalyst.com/api/integrations/chatgpt/v1/oauth/token
          scopes:
            chatgpt:read: Read-only operational intelligence (requires AI_ACCESS + AI_TEXT + AI_CATALYST_INTELLIGENCE)
            chatgpt:chanakya: CHANAKYA / Radar endpoint (requires AI_CHANAKYA)
      description: |
        OAuth 2.0 authorization code + PKCE (S256).
        Issues a short-lived integration JWT (`aud=catalyst_one_chatgpt`).
        Employee session JWTs are not accepted on GPT Action routes.
  responses:
    Unauthorized:
      description: Missing or invalid integration bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    Forbidden:
      description: AI capability, OAuth scope, or organization mismatch
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    NotConfigured:
      description: ChatGPT OAuth not configured on deployment
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
  schemas:
    ApiError:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message, statusCode]
          properties:
            code:
              type: string
            message:
              type: string
            statusCode:
              type: integer
            correlationId:
              type: string
    IntegrationMeta:
      type: object
      required: [requestId, generatedAt, organizationId, organizationSlug, integrationVersion]
      properties:
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        organizationId:
          type: string
        organizationSlug:
          type: string
        integrationVersion:
          type: string
          enum: [v1]
    ApiSuccessHealth:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
              properties:
                overallHealth:
                  type: string
                summary:
                  type: string
    ApiSuccessMissionControl:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessChanakya:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessPipeline:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessTasks:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessEmailStatus:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessActivity:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
    ApiSuccessBuild:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          allOf:
            - $ref: "#/components/schemas/IntegrationMeta"
            - type: object
